In [117]:
import pymysql
conn = pymysql.connect(host="db4free.net",
                       user="nabla123",
                       port=3306,
                       password="maquina271",
                       database = "nabla_python",
                       charset="utf8")

In [118]:
###  1. Tipo de STATUS de la tabla ORDERS   ###

# Realiza la consulta de la columna STATUS de la base ORDERS
query = """
SELECT status
FROM orders;
"""

with conn.cursor() as cursor:
    cursor.execute(query)
    orders = cursor.fetchall()
    
# Se obtienen los tipos de STATUS que hay en la base

set(tuple(i) for i in orders)

{('Cancelled',),
 ('Disputed',),
 ('In Process',),
 ('On Hold',),
 ('Resolved',),
 ('Shipped',)}

In [119]:
###   2. Los 10 clientes que m√°s han comprado   ###

query = """
SELECT customerName, amount
FROM customers 
JOIN payments ON payments.customerNumber = customers.customerNumber
ORDER BY amount ASC;  
"""

with conn.cursor() as cursor:
    cursor.execute(query)
    client = cursor.fetchmany(10) # seleccionando los 10 primeros

for client in client: # se imprime cada valor de la tupla
    print(client)

('Tokyo Collectables, Ltd', Decimal('615.45'))
('Royale Belge', Decimal('1128.20'))
('Baane Mini Imports', Decimal('1491.38'))
('Royale Belge', Decimal('1627.56'))
('Atelier graphique', Decimal('1676.14'))
('Microscale Inc.', Decimal('1679.92'))
('Marseille Mini Autos', Decimal('1834.56'))
("La Corne D'abondance, Co.", Decimal('1960.80'))
('Technics Stores Inc.', Decimal('2434.25'))
('Dragon Souveniers, Ltd.', Decimal('2611.84'))

In [120]:
###   3. Los primeros 10 clientes y la clave del producto   ###

query = """
SELECT customers.customerNumber, orderdetails.productCode
FROM customers
JOIN orders ON orders.customerNumber = customers.customerNumber
JOIN orderdetails ON orderdetails.orderNumber = orders.orderNumber;
"""

with conn.cursor() as cursor:
    cursor.execute(query)
    code = cursor.fetchmany(10)
    
for code in code: # se imprime cada valor de la tupla
    print(code)

(103, 'S18_1589')
(103, 'S18_2870')
(103, 'S18_3685')
(103, 'S24_1628')
(103, 'S10_2016')
(103, 'S18_2625')
(103, 'S24_2022')
(112, 'S18_1749')
(112, 'S18_2248')
(112, 'S18_2325')

In [121]:
###   4. Los primeros 10 clientes y el nombre del producto   ###

query = """
WITH t1 as (
    SELECT customers.customerNumber, orderdetails.productCode
    FROM customers
    JOIN orders ON orders.customerNumber = customers.customerNumber
    JOIN orderdetails ON orderdetails.orderNumber = orders.orderNumber)
    
SELECT t1.customerNumber, products.productName
FROM products
JOIN t1 ON products.productCode = t1.productCode;
"""

with conn.cursor() as cursor:
    cursor.execute(query)
    code1 = cursor.fetchmany(10)
    
for code1 in code1: # se imprime cada valor de la tupla
    print(code1)

(103, '1965 Aston Martin DB5')
(103, '1999 Indy 500 Monte Carlo SS')
(103, '1948 Porsche Type 356 Roadster')
(103, '1966 Shelby Cobra 427 S/C')
(103, '1996 Moto Guzzi 1100i')
(103, '1936 Harley Davidson El Knucklehead')
(103, '1938 Cadillac V-16 Presidential Limousine')
(112, '1917 Grand Touring Sedan')
(112, '1911 Ford Town Car')
(112, '1932 Model A Ford J-Coupe')

In [122]:
###   5. Los primeros 10 nombre de clientes y el nombre del producto   ###

query = """
WITH t1 as (
    SELECT customers.customerName, orderdetails.productCode
    FROM customers
    JOIN orders ON orders.customerNumber = customers.customerNumber
    JOIN orderdetails ON orderdetails.orderNumber = orders.orderNumber)
    
SELECT t1.customerName, products.productName
FROM products
JOIN t1 ON products.productCode = t1.productCode;
"""

with conn.cursor() as cursor:
    cursor.execute(query)
    code2 = cursor.fetchmany(10)
    
for code2 in code2: # se imprime cada valor de la tupla
    print(code2)

('Atelier graphique', '1965 Aston Martin DB5')
('Atelier graphique', '1999 Indy 500 Monte Carlo SS')
('Atelier graphique', '1948 Porsche Type 356 Roadster')
('Atelier graphique', '1966 Shelby Cobra 427 S/C')
('Atelier graphique', '1996 Moto Guzzi 1100i')
('Atelier graphique', '1936 Harley Davidson El Knucklehead')
('Atelier graphique', '1938 Cadillac V-16 Presidential Limousine')
('Signal Gift Stores', '1917 Grand Touring Sedan')
('Signal Gift Stores', '1911 Ford Town Car')
('Signal Gift Stores', '1932 Model A Ford J-Coupe')

In [123]:
#### 6. Nombre y unidades de los productos del ejercicio 3   ###

query = """
WITH t1 as (
    SELECT customers.customerNumber, orderdetails.productCode
    FROM customers
    JOIN orders ON orders.customerNumber = customers.customerNumber
    JOIN orderdetails ON orderdetails.orderNumber = orders.orderNumber)
    
SELECT products.productName, COUNT(productName) as No_products
FROM products
JOIN t1 ON products.productCode = t1.productCode
GROUP BY productName
ORDER BY No_products DESC;

"""
with conn.cursor() as cursor:
    cursor.execute(query)
    code3 = cursor.fetchmany(10)
    
for code3 in code3: # se imprime cada valor de la tupla
    print(code3)

('1992 Ferrari 360 Spider red', 53)
('1996 Moto Guzzi 1100i', 28)
('1936 Harley Davidson El Knucklehead', 28)
('1938 Cadillac V-16 Presidential Limousine', 28)
('1932 Model A Ford J-Coupe', 28)
('1939 Chevrolet Deluxe Coupe', 28)
('1937 Lincoln Berline', 28)
('2003 Harley-Davidson Eagle Drag Bike', 28)
('P-51-D Mustang', 28)
('1997 BMW R 1100 S', 28)

In [124]:
###   7. Definir la tabla  ####

from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Date

base = declarative_base()

class Orders(base):
    __tablename__ = "orders"
    orderNumber = Column(Integer, primary_key = True, nullable = False)
    orderDate = Column(Date, nullable = False)
    requiredDate = Column(Date, nullable = False)
    shippedDate = Column(Date, nullable = True)
    status = Column(String(15), nullable = False)
    comments = Column(String(11), nullable = True)
    customerNumber = Column(Integer, index = True, nullable = False)

In [125]:
###   8. Definir la tabla  ####

from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float, SmallInteger

base2 = declarative_base()

class Ordersdetails(base2):
    __tablename__ = "ordersdetails"
    orderNumber = Column(Integer, primary_key = True, nullable = False)
    productcode = Column(String(15), nullable = False, primary_key = False)
    quantityOrdered = Column(Integer, nullable = False)
    priceEach = Column(Float(10,2), nullable = False)
    orderLineNumber = Column(SmallInteger, nullable = False)

In [133]:
### 9. Tipo de status de la ORDERS ###



from sqlalchemy import create_engine
engstr = f"mysql+pymysql://nabla123:{passw}@db4free.net:3306/nabla_python"
engine = create_engine(engstr)

from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine)
sess = Session()

NameError: name 'passw' is not defined

In [ ]:
for instance in sess.query(Orders).limiy(10):
set(tuple(i) for i in orders)